@animation-speed: 0.5s;
@dp-content-background-color: rgb(255, 255, 255);
@arrow-size: 10px;

@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}

.center(){
  left: 50%;
  transform: translateX(-50%);
}

.hide(){
  display: none;
  position: absolute;
}

.appear(){
  display: block;
}

.fade-in-appear(){
  .appear();
  animation-name: fade-in;
  animation-duration: 0.5s;
}

.nav-tag {
  display: inline-block;
  position: relative;
  float: left;
  left: 50%;

  .tag-text{
    font-size: 30px;
    margin:0 30px 0 30px;
  }

  //a blank box to extend the hover area
  .blank{
    .hide;
    .center;
    width: 100%;
    height: @arrow-size;
    background-color: transparent;
    color: transparent;
  }

  .dropdown {
    .hide;
    top: 100%;
    transform: translateY(@arrow-size);

  }

  //Triangle arrow
  &:after {
    content: " ";
    .hide;
    top: 100%;
    transform: translateY(-@arrow-size);
    left: 50%;
    margin-left: -@arrow-size;
    border: @arrow-size solid;
    border-color: transparent transparent @dp-content-background-color transparent;
  }

  //hover to make dropdown menu appear
  &:hover {
    .blank {
      .appear;
    }

    .dropdown {
      .fade-in-appear;
    }

    &:after {
      .fade-in-appear;
    }

  }
}
