@shadow-color: rgba(100,100,100,0.5);
@animation-speed: 0.5s;
@dp-content-background-color: rgb(250, 250, 250, 0.99);

@keyframes content-appear {
  from {opacity: 0}
  to {opacity: 1}
}

.center(){
  left: 50%;
  transform: translate(-50%, 0);
}

.shadow(){
  box-shadow: 5px 5px 10px @shadow-color;
}

.hide(){
  display: none;
  z-index: 1;
  .center;
}

.appear(){
  display: block;
}

.price-dropdown {
  display: inline-block;
  position: relative;
  .center;

  .blank{
    .hide;
    position: absolute;
    width: 300%;
    background-color: transparent;
    color: transparent;
  }

  app-price-dropdown {
    .hide;
    position: absolute;
    top: 150%;
    .shadow;

    &:after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -10px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent @dp-content-background-color transparent;
    }
  }

  &:hover {
    .blank {
      .appear;
    }

    app-price-dropdown {
      .appear;
      animation-name: content-appear;
      animation-duration: 0.5s;
    }
  }
}
