@item-title-color: rgb(32, 96, 126);
@background-color: rgb(255, 255, 255);
@title-color-hover: rgb(102, 63, 251);
@icon-size: 50px;

.vertical-center(){
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.dropdown-content{
  width: 300px;
  background-color: @background-color;

  .dropdown-item {
    display: block;
    height: 80px;
    text-decoration: none;
    color: @item-title-color;
    transition: background-color 0.5s;
    padding: 0 20px;

    position: relative;
    bottom: 50%;

    .item-icon{
      .vertical-center;
      width: @icon-size;
      height: @icon-size;
      padding-right: 20px;
      float: left;
    }

    .item-text{
      .vertical-center;
      .item-title{
        font-family: Avenir, sans-serif;
      }
    }

    &:hover {
      color: @title-color-hover;
    }
  }
}
